title: "Uživatelé"

default:
	title: "Přehled uživatelů"

create:
	title: "Vytvořit uživatele"

update:
	title: "Upravit uživatele"
	userNotFound: "Požadovaný uživatel nebyl nalezen."

permissions:
	name: "Modul uživatelé"
	create: "Přidat"
	view: "Zobrazit"
	update: "Upravit"
	remove: "Smazat"

createForm:
	title: "Uživatel"
	email: "Email"
	firstName: "Jméno"
	lastName: "Příjmení"
	password: "Heslo"
	passwordFormat: "Prosím, vyplňte heslo dlouhé alespoň 8 znaků a obsahující číslo, velké a méle písmeno."
	passwordHint: "Heslo musí mít alespoň 8 znaků a obsahující číslo, velké a méle písmeno."
	roles: "Role"
	submit: "Vytvořit uživatele"
	created: "Uživatel byl úspěšně vytvořen."
	duplicateEntry: "Uživatel s tímto emailem již existuje."

updateForm:
	title: "Uživatel"
	email: "Email"
	firstName: "Jméno"
	lastName: "Příjmení"
	roles: "Role"
	submit: "Upravit uživatele"
	updated: "Uživatel byl úspěšně upraven."
	duplicateEntry: "Uživatel s tímto emailem již existuje."

usersTable:
	title: "Uživatelé"
	email: "Email"
	firstName: "First name"
	lastName: "Last name"
	createdAt: "Vytvořen v"
	update: "Upravit"
	remove: "Smazat"
	removed: "Uživatel byl úspěšně smazán."
	userNotFound: "Požadovaný uživatel nebyl nalezen."
