title: "User"

default:
	title: "All users"

create:
	title: "Create user"

update:
	title: "Update user"
	userNotFound: "The User was not found."

permissions:
	name: "Users module"
	create: "Create"
	view: "View"
	update: "Update"
	remove: "Remove"

usersTable:
	title: "Users"
	email: "Email"
	createdAt: "Created at"
	update: "Update"
	remove: "Remove"
	removed: "The user was successfully removed."
	userNotFound: "The User was not found."
